/* Header.css */

.app-bar {
    background-color: white;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .left-section, .right-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 120px; 
    height: auto;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border-right:50px ;
    height: 25px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    margin-left: 5px;
  }
  
  .profile-icon {
    width: 25px;
    height: 25px;
    background-color: purple;
    border-radius: 50%;
    margin-left: 8px;
    text-align: center;
    color: aliceblue;
  }
  
  .nav-bar {
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left h2 {
    margin: 0;
  }
  
  .members-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .notification-icon {
    width: 25px; 
    height: 25px;

  }
  
