form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  input[type="file"] {
    padding: 5px;
    margin: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
  }
  